/* variables/_colors.scss */

$map--colors: (
  vermilion: (
    100: #f36258,
    200: #f0493e,
    300: #ed3830
  ),
  taffy: generate_palette(#fc4482),
  peach: (
    100: #ff8c61,
    200: #ff7648,
    300: #ff5a42
  ),
  cyan: (
    100: #00bdff,
    200: #00aeff,
    300: #009cff
  ),
  royal: generate_palette(#2962ff),
  sapphire: (
    100: #006792,
    200: #004e7c,
    300: #003c60
  ),
  wonka: (
    100: #5567c0,
    200: #3f51b5,
    300: #313ea2
  ),
  grape: generate_palette(#6532fb),
  teal: (
    100: #00b1b2,
    200: #00a0a2,
    300: #008b8d
  ),
  seafoam: (
    100: #d6f5f0,
    200: #0fdca4,
    300: #0da67b,
  ),
  mantis: (
    100: #65c461,
    200: #4cb748,
    300: #3ba738
  ),
  pear: (
    100: #dae55d,
    200: #cddc39,
    300: #bcd028
  ),
  amber: (
    100: #feca10,
    200: #febe10,
    300: #feaf10
  ),
  slate: (
    100: #708c98,
    200: #607d8b,
    300: #556e7d
  ),
  charcoal: (
    100: #555458,
    200: #3b3a3e,
    300: #2e2d30
  ),
  titanium: (
    100: #f1f2f3,
    200: #e4e5e6,
    300: #d4d5d6
  ),
  white: (
    100: #fff,
    200: darken(#fff, 1.5%),
    300: darken(#fff, 3%)
  ),
  black: (
    50: #808080,
    100: lighten(#404040, 6%),
    200: lighten(#404040, 3%),
    300: #404040
  )
) !default;

$_map--color-name: (
  red: vermilion,
  orange: peach,
  blue: cyan,
  saphire: sapphire,
  darkblue: sapphire,
  dark-blue: sapphire,
  purple: wonka,
  green: mantis,
  lightgreen: pear,
  light-green: pear,
  yellow: amber,
  gray: slate,
);

$_map--color-name-inverse: ();

@each $key, $value in $_map--color-name {
  $_map--color-name-inverse: map_merge($_map--color-name-inverse, (#{$value}: #{$key}));
}
