/* variables/_dimensions.scss */

$map--breakpoints: (
  min : 320px,
  small : 480px,
  medium : 600px,
  tablet : 768px,
  large : 960px,
  desktop : 1024px,
  wide : 1280px,
  app : 1440px,
  max : 1600px
) !default;

$map--container-dimensions: (
  inherit : inherit,
  full : 100%,
  half : 50%,
  100 : 100%,
  90 : 90%,
  80 : 80%,
  75 : 75%,
  70 : 70%,
  66 : percentage(2 / 3),
  60 : 60%,
  50 : 50%,
  40 : 40%,
  33 : percentage(1 / 3),
  30 : 30%,
  25 : 25%,
  20 : 20%,
  10 : 10%,
  auto : auto,
) !default;

$map--grid-dimensions: (
  '1-1': 100%,
  '1-2': 50%,
  '1-3': percentage(1 / 3),
  '1-6': percentage(1 / 6),
  '2-3': percentage(2 / 3),
  '5-6': percentage(5 / 6),
) !default;

$map--container-spacing: (
  ''          : to-rem(12px),
  xxsm        : to-rem(2px),
  xsm         : to-rem(4px),
  sm          : to-rem(8px),
  normal      : to-rem(12px),
  lg          : to-rem(16px),
  xlg         : to-rem(24px),
  xxlg        : to-rem(32px),
  xxxlg       : to-rem(48px),
  xxxxlg      : to-rem(96px),
  none        : 0,
  inherit     : inherit,
  auto        : auto
) !default;
