/* variables/typography */

$font-size--base: $root-size;
$line-height--base: unitless( $font-size--base / 24 );

$map--font-size: (
  '': to-rem(14px),
  xxsm: to-rem(9px),
  xsm: to-rem(10px),
  sm: to-rem(12px),
  normal: to-rem(14px),
  lg: to-rem(16px),
  xlg: to-rem(20px),
  xxlg: to-rem(32px),
  xxxlg: to-rem(48px),
) !default;

$map--font-size-mobile: (
  '': to-rem(18px),
  xxsm: to-rem(10px),
  xsm: to-rem(12px),
  sm: to-rem(16px),
  normal: to-rem(18px),
  lg: to-rem(20px),
  xlg: to-rem(48px),
  xxlg: to-rem(64px),
  xxxlg: to-rem(72px),
) !default;

$map--font-weight: (
  '': 500,
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700,
  heavy: 900,
) !default;


$font-family: "Roboto", Helvetica, Arial, sans-serif !default;
// TODO: Add serif?
$map--font-family: (
  '': $font-family,
  normal: $font-family,
  sans: $font-family,
) !default;
