<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="ie7" ng-app="<%= htmlWebpackPlugin.options.angular.ngApp %>"><![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" ng-app="<%= htmlWebpackPlugin.options.angular.ngApp %>"><![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" ng-app="<%= htmlWebpackPlugin.options.angular.ngApp %>"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" ng-app="<%= htmlWebpackPlugin.options.angular.ngApp %>"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>

  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body ng-cloak>
<div layout="column" flex ui-view="app">App</div>
<p class="pill">1</p>
</body>
<script type="text/javascript" src="./scripts/app.js"></script>
</html>
