/* atoms/pill */

.pill {
  @extend %font-size--normal;
  @extend %border-radius--normal;
  @extend %bg--white-100;

  &.-small {
    @extend %font-size--sm;
    @extend %border-radius--sm;
  }

  &.-large{
    @extend %font-size--lg;
    @extend %border-radius--lg;
  }
}

