/* elements/index */

html,
body {
  // Pulled from angular-material:
  // [2] Ensure the page always fills at least the entire height of the viewport.
  // [3] Prevent iOS text size adjust after orientation change, without disabling user zoom
  // [4] Fonts on OSX will look more consistent with other systems that do not
  // render text using sub-pixel anti-aliasing.

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;

  min-height: 100%; // [2]

  -webkit-text-size-adjust: 100%; // [3]
  -ms-text-size-adjust: 100%; // [3]

  -webkit-font-smoothing: antialiased; // [4]
  -moz-osx-font-smoothing: grayscale; // [4]
}

html {
  @extend %font-family;
  @extend %font-weight;
  @extend %overflow--hidden;
  font-size: $root-size;

  max-width: 100vw;
  max-height: 100vh;
}

button,
select,
textarea,
input {
  @extend %font-family--normal
}

select,
button,
textarea,
input {
  font-size: 100%;
}

a {
  @extend %text-decoration--none;
  &.link:hover {
    @extend %text-decoration--underline;
  }
}

ul {
  @include padding(none,left);
  > li {

  }
}

