/* mixins/border */

@mixin border-radius($value: ''){
  @if(map_has_key($map--border-radius, $value) == false){
    @error "Border radius \"#{$value}\" not found"
  }
  border-radius: map_get($map--border-radius, $value);
}
