/* mixins/dimensions */

@mixin width($key){
  $val: '';
  $maps: map_merge($map--breakpoints, $map--container-dimensions, $map--grid-dimensions);
  @if(map_has_key($maps, $key)){
    $val: map_get($maps, $key);
  }
  @if($val != ''){
    width: $val;
  }@else{
    @error 'No dimension value found for #{$key} in #{$maps}';
  }
}


@mixin height($key){
  $val: '';
  $maps: map_merge($map--breakpoints, $map--container-dimensions);
  @if(map_has_key($maps, $key)){
    $val: map_get($maps, $key);
  }
  @if($val != ''){
    height: $val;
  }@else{
    @error 'No dimension value found for #{$key} in #{$maps}';
  }
}


@mixin padding($size:'', $direction:''){
  @if($direction != '') {
    $prop: -#{$direction};
    @if(index($_list--directions, $direction) != null){
      padding#{$prop}: map_get($map--container-spacing, $size);
    }@else if($direction == x){
      padding-left: map_get($map--container-spacing, $size);
      padding-right: map_get($map--container-spacing, $size);
    }@else if($direction == y){
      padding-top: map_get($map--container-spacing, $size);
      padding-bottom: map_get($map--container-spacing, $size);
    }@else{
      @error 'No direction found for ' + #{$direction} + ' in ' + #{$_list--directions}
    }
  }@else{
    $prop: $direction;
    padding#{$prop}: map_get($map--container-spacing, $size);
  }

}


@mixin margin($size:'', $direction:''){
  @if($direction != '') {
    $prop: -#{$direction};
    @if(index($_list--directions, $direction) != null){
      margin#{$prop}: map_get($map--container-spacing, $size);
    }@else if($direction == x){
      margin-left: map_get($map--container-spacing, $size);
      margin-right: map_get($map--container-spacing, $size);
    }@else if($direction == y){
      margin-top: map_get($map--container-spacing, $size);
      margin-bottom: map_get($map--container-spacing, $size);
    }@else{
      @error 'No direction found for ' + #{$direction} + ' in ' + #{$_list--directions}
    }
  }@else{
    $prop: $direction;
    margin#{$prop}: map_get($map--container-spacing, $size);
  }
}



@mixin grid($key){
  $val: '';
  @if(map_has_key($map--grid-dimensions, $key)){
    $val: map_get($map--grid-dimensions, $key);
  }
  @if($val != ''){
    width: $val;
  }@else{
    @error 'No grid value found for #{$key} in #{$map--grid-dimensions}';
  }
}
