/* mixins/typography */


@mixin font-size($key: '', $em: false){
  @if(map_has_key($map--font-size, $key) == false){
    @error "Font size \"#{$key}\" not found"
  }
  @if($em == false){
    font-size: map_get($map--font-size, $key);
  }@else{
    $size: unitless(map_get($map--font-size, $key)) * 1em;
  }
}

@mixin font-weight($key: ''){
  @if(map_has_key($map--font-weight, $key) == null){
    @error "Font weight \"#{$key}\" not found"
  }
  font-weight: map_get($map--font-weight, $key);
}

@mixin font-family($key: ''){
  @if(map_has_key($map--font-family, $key) == null){
    @error "Font family \"#{$key}\" not found"
  }
  font-family: map_get($map--font-family, $key);
}
